<nav id="main_nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-block">
                <div class="navbar-icon">
                    <img class="img-fluid" src="../../assets/images/somethingnewlogo1.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 d-lg-block d-none">
                <div class="navbar-menu">
                    <ul>
                        <li>
                            ABOUT
                        </li>
                        <li>
                            OUR SERVICES
                        </li>
                        <li>
                            OUR TEAM
                        </li>
                        <li>
                            CONTACT US
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>